@use 'vars'
    
.about-us
    margin-top: calc(100vw / 1.916)

    h2
        width: 100%
        text-align: center
        padding-top: 100px
        padding-block-end: 30px
    
    .icons
        display: grid
        grid-template-columns: repeat(4, 1fr)
        margin: 0 100px

        .icon
            text-align: center                

            figure

                margin: 0 auto
                width: 130px
                height: 130px
                border-radius: 50%
                background-color: vars.$color-blue
                display: flex
                align-items: center
                justify-content: center

                img
                    width: auto
                    height: 60%
                    
            // Icons size
            &.experience

                img 
                    height: 40%
            
            &.location

                img 
                    height: 50%

    @media screen and (max-width: 950px)

        &
            margin-top: 105vh

        h2
            padding-top: 0 

        .icons
            display: grid
            grid-template-columns: repeat(2, 1fr)
            grid-template-rows: repeat(2, 1fr)
            margin: 0 10px

            .icon

                figure
                    width: 30vw
                    height: 30vw

                p
                    font-size: 4vw

        
        @media screen and (max-height: 100vw)

            &
                margin-top: 175vh