.classes
    display: grid
    justify-content: center

    h2
        width: 100%
        text-align: center
        margin-top: 200px
        margin-bottom: 50px
    
    .class
        display: grid
        grid-template-columns: 1fr 1fr
        column-gap: 100px
        width: 90%
        margin: 0 auto
        margin-top: 80px

        @media screen and (max-width: 950px)
            grid-template-columns: 1fr
            margin: 70px
            margin-top: 0
            margin-bottom: 160px
            width: calc(90% - 140px)



        .images
            position: relative

            figure
                width: 100%
                height: auto
                border-radius: 30px
                overflow: hidden

                img
                    width: 100%
                    height: auto

                &.bg-image
                    opacity: 0.4

                &:nth-child(1)
                    margin-left: 40px


                &:nth-child(2)
                    position: absolute
                    z-index: -1
                    top: -40px

        &.odd

            @media screen and (min-width: 950px)
                grid-template-areas: "details images"


                .images
                    grid-area: images

                .details
                    grid-area: details
