footer

    padding: 50px 0

    .socials
            
        display: flex
        align-items: center
        justify-content: space-between
        width: 100%

        .left

            .icon
                font-size: 20px 

            a
                line-height: 20px

            div
                margin: 15px

        .right

            display: flex

            div
                font-size: 25px
                margin: 5px


    small
        width: 100%
        text-align: center
        display: block
        font-size: 12px

        a
            font-weight: bold