.modal.thanks

    .wrapper
        background-color: vars.$color-white

        h2
            margin: 0 100px 
            margin-top: calc(100px - 10px - 28px)
            
        h3
            margin: 0 100px 
            margin-bottom: 100px


        .close
            width: 100%
            text-align: right
            margin-top: 10px

            svg
                margin-right: 10px