@use "vars"

.sing-up
    margin: 0
    margin-top: 150px
    background-color: vars.$color-blue-middle
    width: 100%
    padding: 80px 0

    h2, h3
        width: 100%
        text-align: center

    h2
        font-weight: 400
        font-size: 40px

    form
        width: 100%
        display: flex
        align-items: center
        justify-content: center
        margin-top: 50px

        fieldset
            border: none
            margin-left: -100px

            input
                font-size: 28px
                width: 200px
                border: none
                border-radius: 25px
                margin-left: 100px

            input[type="text"]
                padding: 10px 30px

            input[type="submit"]
                height: 55px
                width: 260px
                background-color: vars.$color-blue


