@use 'vars'

.wallpaper
    width: 100%
    margin: 0
    margin-top: 100px
    background-color: vars.$color-grey
    position: relative
    display: flex
    justify-content: flex-end
    align-items: center

    h3
        line-height: 50px
        text-align: center
        width: 50%
        position: absolute
        top: 0
        left: 0
        margin-top: 300px
        font-size: 28px

    figure
        width: 90%
        height: auto

        img
            width: 100%
            height: auto