@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ryk9yj');
  src:  url('fonts/icomoon.eot?ryk9yj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ryk9yj') format('truetype'),
    url('fonts/icomoon.woff?ryk9yj') format('woff'),
    url('fonts/icomoon.svg?ryk9yj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\e900";
}
.icon-clock:before {
  content: "\e94e";
}
