header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 110px;
}
header .logo {
  width: 100px;
}
header .logo figure {
  width: 100%;
  height: auto;
}
header .logo figure img {
  width: 100%;
  height: auto;
}
header .logo span {
  width: 100%;
  text-align: center;
  display: block;
  font-weight: bold;
  font-size: 24px;
}
header nav {
  width: calc(100% - 100px);
  height: 60%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
header nav ul {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
header nav ul li {
  list-style: none;
  font-weight: regular;
}
header nav ul li:nth-child(5) {
  margin-right: 15%;
}
header nav ul li:last-child {
  text-align: center;
}
header nav ul li:last-child a {
  border-bottom: 2px solid black;
  padding-top: 4px;
  padding-bottom: 2px;
}

* {
  font-family: "Montserrat Alternates", sans-serif;
  color: #000;
}

body {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

h2 {
  font-size: 45px;
  font-weight: 400;
}

h3 {
  font-weight: 400;
  font-size: 22px;
}

.title {
  font-family: "Philosopher", sans-serif;
}

.main-area {
  margin: 0 100px;
}

.landing-wrapper {
  width: 100%;
  height: 130vh;
  min-height: 960px;
  background: linear-gradient(90deg, #d9e4f4 0%, #c6cbd7 48%, #b9c3d9 100%);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
}
.landing-wrapper .bg-girl {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.landing-wrapper .bg-girl img {
  width: 100%;
  height: auto;
}
.landing-wrapper .landing {
  width: 50%;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
}
.landing-wrapper .landing .circle-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.landing-wrapper .landing .circle-wrapper .circle {
  margin-top: -345px;
  margin-right: 10%;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 10px solid #dae6f8;
}
.landing-wrapper .landing .titles-wrapper {
  width: 75%;
  height: auto;
  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  text-align: center;
  margin-top: 32%;
}
.landing-wrapper .landing .titles-wrapper h1 {
  margin: 0;
  font-size: 45px;
  ont-weight: 400;
}
.landing-wrapper .landing .titles-wrapper h2 {
  margin: 0;
  margin-top: 15px;
  font-weight: 400;
  font-size: 24px;
}
.landing-wrapper .landing .buttons-wrapper {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 80px;
}
.landing-wrapper .landing .buttons-wrapper .button {
  border-radius: 50px;
  padding: 12px 70px;
  margin-right: 20px;
  font-size: 24px;
  background-color: #a1b5eb;
}
.landing-wrapper .landing .buttons-wrapper p {
  font-size: 24px;
}

.about-us {
  margin-top: calc(130vh - 110px);
}
.about-us h2 {
  width: 100%;
  text-align: center;
  padding-top: 100px;
  padding-block-end: 30px;
}
.about-us .icons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 100px;
}
.about-us .icons .icon {
  text-align: center;
}
.about-us .icons .icon figure {
  margin: 0 auto;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: #a1b5eb;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about-us .icons .icon figure img {
  width: auto;
  height: 60%;
}
.about-us .icons .icon.experience img {
  height: 40%;
}
.about-us .icons .icon.location img {
  height: 50%;
}

.classes {
  display: grid;
  justify-content: center;
}
.classes h2 {
  width: 100%;
  text-align: center;
  margin-top: 200px;
  margin-bottom: 50px;
}
.classes .class {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 100px;
  width: 90%;
  margin: 0 auto;
  margin-top: 80px;
}
.classes .class .images {
  position: relative;
}
.classes .class .images figure {
  width: 100%;
  height: auto;
  border-radius: 30px;
  overflow: hidden;
}
.classes .class .images figure img {
  width: 100%;
  height: auto;
}
.classes .class .images figure.bg-image {
  opacity: 0.4;
}
.classes .class .images figure:nth-child(1) {
  margin-left: 40px;
}
.classes .class .images figure:nth-child(2) {
  position: absolute;
  z-index: -1;
  top: -40px;
}
.classes .class.odd {
  grid-template-areas: "details images";
}
.classes .class.odd .images {
  grid-area: images;
}
.classes .class.odd .details {
  grid-area: details;
}

.teachers h2 {
  margin-top: 180px;
  width: 100%;
  text-align: center;
}
.teachers .teachers-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
}
.teachers .teachers-wrapper .teacher {
  text-align: center;
}
.teachers .teachers-wrapper .teacher figure {
  width: 210px;
  height: 210px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
}
.teachers .teachers-wrapper .teacher figure img {
  width: 100%;
  height: auto;
}
.teachers .teachers-wrapper .teacher small {
  display: block;
  position: absolute;
  z-index: 2;
  bottom: 0;
}
.teachers .teachers-wrapper .teacher:hover small {
  display: block;
}

.wallpaper {
  width: 100%;
  margin: 0;
  margin-top: 100px;
  background-color: #d3d9e7;
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.wallpaper h3 {
  line-height: 50px;
  text-align: center;
  width: 50%;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 300px;
  font-size: 28px;
}
.wallpaper figure {
  width: 90%;
  height: auto;
}
.wallpaper figure img {
  width: 100%;
  height: auto;
}

.pricing {
  margin-top: 100px;
}
.pricing h2, .pricing h3 {
  width: 100%;
  text-align: center;
}
.pricing .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 150px;
  margin-bottom: 50px;
}
.pricing .cards .card {
  text-align: center;
  background-color: #fff;
  border-radius: 60px;
  overflow: hidden;
  padding: 40px;
}
.pricing .cards .card h3 {
  font-size: 24px;
  font-weight: bold;
}
.pricing .cards .card h3:first-child {
  margin-top: 0;
}
.pricing .cards .card p {
  font-size: 22px;
  line-height: 35px;
}
.pricing .cards .card button {
  border: none;
  background-color: #a1b5eb;
  border-radius: 20px;
  line-height: 24px;
  padding: 10px 65px;
}
.pricing .cards .card button h3 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.sing-up {
  margin: 0;
  margin-top: 150px;
  background-color: #c1cffe;
  width: 100%;
  padding: 80px 0;
}
.sing-up h2, .sing-up h3 {
  width: 100%;
  text-align: center;
}
.sing-up h2 {
  font-weight: 400;
  font-size: 40px;
}
.sing-up form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.sing-up form fieldset {
  border: none;
  margin-left: -100px;
}
.sing-up form fieldset input {
  font-size: 28px;
  width: 200px;
  border: none;
  border-radius: 25px;
  margin-left: 100px;
}
.sing-up form fieldset input[type=text] {
  padding: 10px 30px;
}
.sing-up form fieldset input[type=submit] {
  height: 55px;
  width: 260px;
  background-color: #a1b5eb;
}

.gallery {
  margin-top: 150px;
}
.gallery h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.gallery .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 30px;
  margin-top: 30px;
}
.gallery .grid.two {
  grid-template-columns: repeat(2, 1fr);
}
.gallery .grid figure {
  width: 100%;
  height: auto;
  border-radius: 30px;
  overflow: hidden;
}
.gallery .grid figure img {
  width: 100%;
  height: auto;
}

.reviews {
  margin-top: 150px;
}
.reviews h2 {
  width: 100%;
  text-align: center;
  margin-bottom: 0px;
}
.reviews .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}
.reviews .cards .card-wrapper {
  width: 30%;
  border: 4px solid #a1b5eb;
  text-align: center;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 30px;
  margin-top: 100px;
  border-radius: 50px;
  overflow: hidden;
  background-color: #fff;
  padding: 5px;
}
.reviews .cards .card-wrapper:nth-child(2) {
  margin-top: 0;
}
.reviews .cards .card-wrapper .card h3 {
  font-size: 20px;
}
.reviews .cards .card-wrapper .card figure {
  width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 200px;
  overflow: hidden;
  margin-bottom: 30px;
}
.reviews .cards .card-wrapper .card figure img {
  width: 100%;
  height: auto;
}
.reviews .cards .card-wrapper .card .p-wrapper {
  width: 80%;
  margin: 0 auto;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.reviews .cards .card-wrapper .card .p-wrapper p {
  width: 100%;
}

body {
  background-color: #dae6f8;
}

/*# sourceMappingURL=styles.css.map */
